<!DOCTYPE html>
<html>
<head>
    <title>Meu Aplicativo Flask</title>
</head>
<body>
    <h1>Meu Aplicativo Flask</h1>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Nome do item">
        <input type="submit" value="Adicionar">
    </form>

    <ul>
    {% for item in data %}
        <li>
            {{ item.name }}
            <a href="/delete/{{ item.id }}">Deletar</a>
            <form action="/update" method="post">
                <input type="hidden" name="id" value="{{ item.id }}">
                <input type="text" name="name" value="{{ item.name }}">
                <input type="submit" value="Atualizar">
            </form>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
